
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3 translate="TEST"></h3>

    <form name="testform" id="testform" role="form" >
        <div class="well">

          <div class="form-group">
            <label for="modality" translate="MODALITY" ></label>
            <select name="modality" id="modality" ng-model="test.modality" ng-change="" class="form-control">
              <option value=""></option>
              <option translate="ENGLISH_SPANISH" value="en_es"></option>
              <option translate="SPANISH_ENGLISH" value="es_en"></option>
            </select>
          </div>

          <div class="form-group">
            <label for="words_number" translate="WORDS_NUMBER" ></label>
            <input type="number" name="words_number" id="words_number" ng-model="test.words_number" min="5" max="100" >
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-primary" ng-click="submit(test)" translate="TEST"></button>
          </div>

        </div>
    </form>
  </div>
</div>
