<div class="form-inline" ng-hide="current_index === list_words.length" >
    <label translate="CURRENT_WORD" translate-values="{ current: current_index + 1, total: list_words.length }"></label>
    <br><br>
    <label ng-bind="name" ng-style="{width: cols_name + 'px'}"></label>
    <input type="text" name="value" id="value" class="text-uppercase"
           ng-keypress="mykeyPress($event)" ng-model="result" focus="true"
           input-disabled="ko3 || ok"
           ng-style="{width: cols_value + 'px'}"
           ui-mask="{{current_mask}}"
           ui-options="maskOptions"
           ui-mask-placeholder ui-mask-placeholder-char="_" >

    <label style="width: 75px"></label>
    <button type="button" name="next" id="next" class="btn btn-default" aria-label="Left Align" ng-hide="current_index === list_words.length" ng-click="check()" >
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="false"></span>
    </button>
    <br>
    <span class="glyphicon glyphicon-ok-circle glyphiconok" ng-show="ok" ></span>
    <span class="glyphicon glyphicon-remove-circle glyphiconko" ng-show="ko1" ></span>
    <span class="glyphicon glyphicon-remove-circle glyphiconko" ng-show="ko2" ></span>
    <span class="glyphicon glyphicon-remove-circle glyphiconko" ng-show="ko3" ></span>
</div>
<div ng-include="'/static/templates/tests/testResult.html'" ng-show="current_index === list_words.length"/>
