<form name="testRunningform" id="testform" role="form" class="form-inline">
    <label ng-bind="name" ng-style="{width: cols_name + 'px'}"></label>
    <input type="text" name="value" id="value" ng-model="value" ng-style="{width: cols_value + 'px'}" >
    <label style="width: 75px"></label>
    <button type="button" class="btn btn-default" aria-label="Left Align">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="false"></span>
    </button>
    <br>
    <span style="font-size:2.5em; color: green;" class="glyphicon glyphicon-ok-circle" ></span>
    <span style="font-size:2.5em; color: red" class="glyphicon glyphicon-remove-circle" ></span>
    <span style="font-size:2.5em; color: red" class="glyphicon glyphicon-remove-circle" ></span>
    <span style="font-size:2.5em; color: red" class="glyphicon glyphicon-remove-circle" ></span>
</form>