<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3 translate="USER_ACCOUNT"></h3>
    <div class="well well">
      <form name="settingsform" id="settingsform" role="form" class="settings" >

        <div class="form-group">
          <label for="email" translate="EMAIL"></label>
          <input type="text" class="form-control" id="email" name="email" ng-model="profile.email" placeholder="ex. john@example.com" />
        </div>

        <div class="form-group">
          <label for="password" translate="NEW_PASSWORD"></label>
          <input type="password" class="form-control" id="password" name="password" ng-model="profile.password" placeholder="ex. notgoogleplus" />
        </div>

        <div class="form-group">
          <label for="confirm_password" translate="CONFIRM_PASSWORD"></label>
          <input type="password" class="form-control" id="confirm_password" name="confirm_password" ng-model="profile.confirm_password" placeholder="ex. notgoogleplus" />
        </div>

        <div class="form-group">
          <label for="username" translate="USERNAME"></label>
          <input type="text" class="form-control" id="username" name="username" ng-model="profile.username" ng-disabled="true" placeholder="ex. notgoogleplus" />
        </div>

        <div class="form-group">
          <label for="tagline" translate="TAGLINE"></label>
          <textarea class="form-control" id="tagline" name="tagline" ng-model="profile.tagline" placeholder="ex. This is Not Google Plus." />
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-primary" translate="UPDATE" ng-click="update()" ></button>
          <button type="button" class="btn btn-danger pull-right" translate="DELETE_ACCOUNT" ng-click="destroy()"></button>
        </div>
      </form>
    </div>
  </div>
</div>

