{% load compress %}
{% load staticfiles %}

{% compress js %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-translate/angular-translate.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ng-dialog/js/ngDialog.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/snackbarjs/dist/snackbar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-touch/angular-touch.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-animate/angular-animate.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/csv/lib/csv.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/pdfmake/build/pdfmake.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/pdfmake/build/vfs_fonts.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-ui-grid/ui-grid.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-ui-grid/ui-grid.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/form.validation/dist/js/formValidation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/form.validation/dist/js/framework/bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/thomas.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/thomas.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/thomas.router.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/translation/translation.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/translation/controllers/translation.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/words/words.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/words/directives/words.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/words/directives/word.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/words/controllers/words.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/words/controllers/new.word.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/words/controllers/update.word.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/words/services/words.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/wordsGrid/wordsGrid.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/wordsGrid/controllers/wordsGrid1.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/utils/utils.js' %}"></script>

{% endcompress %}
