
<nav class="navbar navbar-inverse" role="navigation" ng-controller="NavbarController as vm">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" translate="LOGO"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active" ><a href="/" translate="HOME"></a></li>
        <li><a ui-sref="register" translate="REGISTER"></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li><a href="/+{{ user.username }}">+{{ user.username }}</a></li>
          <li><a href="/words2" translate="WORDS"></a></li>
          <li><a href="javascript:void(0)" ng-click="vm.logout()" ><span class="glyphicon glyphicon-log-out"></span> &#123;&#123;'LOGOUT' | translate&#125;&#125;</a></li>
        {% else %}
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> &#123;&#123;'LOGIN' | translate&#125;&#125;</a></li>
        {% endif %}
        <li><a href="javascript:void(0)" ng-click="changeLanguage('es')" ><span class="lang-lg" lang="es"></span></a></li>
        <li><a href="javascript:void(0)" ng-click="changeLanguage('en')" ><span class="lang-lg" lang="en"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
