{% load compress %}
{% load staticfiles %}

{% compress css %}

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/ripples.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-languages/languages.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/snackbarjs/dist/snackbar.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ng-dialog/css/ngDialog.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ng-dialog/css/ngDialog-theme-default.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-ui-grid/ui-grid.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/thomas.css' %}" />

{% endcompress %}
