<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h3 translate="REGISTER"></h3>

    <div class="well">
      <form role="form" name="regform" id="regform" >
        <div class="form-group">
          <label for="email" translate="EMAIL"></label>
          <input type="email" class="form-control" id="email" name="email" ng-model="user.email" placeholder="ex. john@notgoogle.com" />
        </div>

        <div class="form-group">
          <label for="username" translate="USERNAME"></label>
          <input type="text" class="form-control" id="username" name="username" ng-model="user.username" placeholder="ex. john" />
        </div>

        <div class="form-group">
          <label for="password" translate="PASSWORD"></label>
          <input type="password" class="form-control" id="password" name="password" ng-model="user.password" placeholder="ex. thisisnotgoogleplus" />
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-primary" ng-click="register(user)" translate="ACCEPT"></button>
        </div>
      </form>
    </div>
  </div>
</div>