<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3 translate="NEW_WORD"></h3>

    <div class="well well">

<form name="wordform" id="wordform" role="form" class="form-horizontal" >

    <div class="form-group">
      <label class="col-xs-2" for="name" translate="NAME"></label>
      <div class="col-xs-10">
        <input type="text" class="form-control" id="name" name="name" ng-model="word.name" focus="true" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-2" for="translation" translate="TRANSLATION"></label>
      <div class="col-xs-10">
        <input type="text" class="form-control" id="translation" name="translation" ng-model="word.translation" />
      </div>
    </div>


    <div class="form-group">
      <label class="col-xs-2" for="comment" translate="COMMENT"></label>
      <div class="col-xs-10">
        <textarea class="form-control" rows="3" id="comment" name="comment" ng-model="word.comment"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-2" translate="FAVORITE"></label>
      <div class="col-xs-10" >
          <div>
            <label><input name="favorite" ng-value="true" type="radio" ng-model="word.favorite" >&#123;&#123;'YES' | translate&#125;&#125;</label>
          </div>
          <div>
            <label><input name="favorite" ng-value="false" class="active" type="radio" ng-model="word.favorite" >&#123;&#123;'NO' | translate&#125;&#125;</label>
          </div>
      </div>
    </div>

    <div class="form-group" >
        <label for="type" class="col-xs-2" translate="TYPE"></label>
        <div class="col-xs-10 ">
            <select class="form-control" name="type" id="type"
              ng-options="option.description for option in word.availableOptions track by option.id"
              ng-model="word.wordType">
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-9 col-xs-offset-3">
            <button type="button" class="btn btn-primary" translate="SAVE" ng-click="submit(word)" ></button>
        </div>
    </div>


</form>
</div>
  </div>
</div>
