
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3 translate="VOCABULARY"></h3>

    <div class="well">

          <div>
            <label><h4 translate="HIDDEN_COLUMN"></h4></label><span class="glyphicon glyphicon-star"></span>
            <label><input type="radio" ng-model="vm.hiddenColumn" value="name" ng-change="vm.refresh()">&#123;&#123;'NAME' | translate&#125;&#125;</label>
            <label><input type="radio" ng-model="vm.hiddenColumn" value="translation" ng-change="vm.refresh()">&#123;&#123;'TRANSLATION' | translate&#125;&#125;</label>
          </div>

        <div ui-grid="vm.gridOptions" ui-grid-pagination class="grid"></div>

          <p translate="PAGINATION_MESSAGE" translate-values="{ current: vm.gridApi.pagination.getPage(), total: vm.gridApi.pagination.getTotalPages()}"></p>
          <button type="button" class="btn btn-success" ng-click="vm.gridApi.pagination.previousPage()" translate="PREVIOUS_PAGE"></button>
          <button type="button" class="btn btn-success" ng-click="vm.gridApi.pagination.nextPage()" translate="NEXT_PAGE"></button>


        <button class="btn btn-primary" ng-controller="NewWordController as vm" ng-click="clickToOpen()" translate="NEW"></button>


    </div>
  </div>
</div>
